<h1>Create a New Team</h1>
<form method="POST" action="/teams">

<h6><%=@errors%></h6>

<h3>Team Name: <input type="text" name="name"></h3>
<ul>
<li> PG - <input type="text" name="point_guard"></li> 
<li> SG - <input type="text" name="shooting_guard"></li> 
<li> SF - <input type="text" name="small_forward"></li> 
<li> PF - <input type="text" name="power_forward"></li> 
<li> C -  <input type="text" name="center"></li> 
<br>
<li> Coach -  <input type="text" name="coach"></li>
</ul>
<br>
<br>
<input type="submit" value="Create New Team">

</form>