<h1><%= @team.name %></h1>
    <ul>
    <li> @team.point_guard </li>
    <li> @team.shooting_guard </li>
    <li> @team.small_forward </li>
    <li> @team.power_forward </li>
    <li> @team.center </li>
    <li> @team.coach </li>
    </ul>



    