<h1>Log In</h1>
<form method="POST" action="/login">
    Username: <input type="text" name="user[username]"><br>
    Password: <input type="text" name="user[password]"><br>
    <br>
    <input type="submit" value="Log In">
    <br>
    <br>
    Don't have an account? <a href="/signup">Sign Up Here</a>
</form>